.button {
    position: relative;
    right: 10%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 800;
    display: inline-block;
    padding: 11.2px 16px;
    margin-top: 50px;
    text-decoration: none;
    color: white;
    text-align: center;
    left: 60.6%;
    bottom: 32px;

    background-image: linear-gradient(white, white), linear-gradient(transparent, transparent);
    background-size: 0 2px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .4s ease-out;
  }
  
  .button:hover {
    background-size: 100% 2px, auto;
    cursor: pointer;
  }