.icono5 {
    position: absolute;
    width: 18px;
    height: 22px;
    top: 522px;
    left: 895px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: url(./Icono5.png);
    margin: 0;
    padding: 0;
  }
