.icono1 {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 295px;
    left: 818px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: url(./Icono1.png);
    margin: 0;
    padding: 0;
  }
