.texto4 p{
  position: relative;
  bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 2.5px;
  margin-top: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0;
  padding-bottom: 0;
}