.icono3 {
    position: absolute;
    width: 25px;
    height: 28px;
    top: 452px;
    left: 822px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: url(./Icono3.png);
    margin: 0;
    padding: 0;
  }
