.logo{
    position: relative;
    left: 10.9%;
    width: 200px;
    height: 80px;
    background: url(./logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 169.5px 59.5px;
}