.icono2 {
    position: absolute;
    width: 25px;
    height: 28px;
    top: 375px;
    left: 825px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: url(./Icono2.png);
    margin: 0;
    padding: 0;
  }
