.icono4 {
    position: absolute;
    width: 31px;
    height: 35px;
    top: 649px;
    left: 805px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: url(./Icono4.png);
    margin: 0;
    padding: 0;
  }
